beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
DateTime==4.4
decorator==5.1.1
Deprecated==1.2.13
et-xmlfile==1.1.0
finance-datareader==0.9.32
idna==3.3
lxml==4.8.0
numpy==1.22.3
OpenDartReader==0.1.6
openpyxl==3.0.9
pandas==1.4.1
pykrx==1.0.32
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-file==1.5.1
self==2020.12.3
six==1.16.0
soupsieve==2.3.1
tqdm==4.63.0
urllib3==1.26.9
wrapt==1.14.0
xlrd==2.0.1
zope.interface==5.4.0
pyOpenSSL==22.0.0
ndg-httpsclient==0.5.1
pyasn1==0.4.8
pystocklib==0.0.5
html5lib==1.1